header {
  margin-top: 0;
  width: 100vw;
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f85092;
  color: #fff;
}

.h1 {
  font-family: cursive;
  font-style: italic;
}

nav {
  display: flex;
}

.icon {
  margin-left: 2rem;
  font-size: 2rem;
}
